<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image Segmentation</title>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">   
</head>
<body>
    <h3>Image Segmentation</h3>
    <p>Upload an image for everyone to see. Valid images are pushed to everyone
    currently connected, and only the most recent %s images are saved.</p>
    <p class="notice">Disclaimer: The author of this application accepts no responsibility for the
    images uploaded to this web service. To discourage the submission of obscene images, IP
    addresses with the last two octets hidden will be visibly associated with uploaded images.</p>
    <fieldset>
    <h1>upload image here</h1>
    <form id="upload-form" action="{{ url_for('upload')}}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" multiple>
    <input type="submit" value="upload">
    </form>
    </fieldset>

    <img id="updataImg" src="#" alt="your image" style='height: 100%; width: 100%; object-fit: contain' />
    <script>
        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageIsLoaded(e) {
            $('#updataImg').attr('src', e.target.result);
        };
    </script>
</body>    
</html>